USE [master]
GO
/****** Object:  Database [Topic DB]    Script Date: 2021/1/2 下午 03:28:16 ******/
CREATE DATABASE [Topic DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Topic DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Topic DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Topic DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Topic DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Topic DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Topic DB]
GO
/****** Object:  Table [dbo].[Topic  DB]    Script Date: 2021/1/2 下午 03:28:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topic  DB](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [text] NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[address] [nvarchar](50) NOT NULL,
	[name] [text] NOT NULL,
	[joinDate] [datetime] NULL,
 CONSTRAINT [PK_Topic  DB] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Topic  DB] ON 

INSERT [dbo].[Topic  DB] ([id], [username], [password], [address], [name], [joinDate]) VALUES (1, N'timmy', N'123456', N'qazwsxedc12341@hotmail.com', N'chen', CAST(N'2021-01-01T23:54:06.667' AS DateTime))
SET IDENTITY_INSERT [dbo].[Topic  DB] OFF
GO
ALTER TABLE [dbo].[Topic  DB] ADD  CONSTRAINT [DF_Topic  DB_Date]  DEFAULT (getdate()) FOR [joinDate]
GO
USE [master]
GO
